@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }

  .table {
    border-collapse: collapse !important;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphs/glyphs.eot);
  src: url(../fonts/glyphs/glyphs.eot?#iefix) format("embedded-opentype"), 
  url(../fonts/glyphs/glyphs.woff2) format("woff2"), 
  url(../fonts/glyphs/glyphs.woff) format("woff"), 
  url(../fonts/glyphs/glyphs.ttf) format("truetype"), 
  url(../fonts/glyphs/glyphs.svg#glyphicons_halflingsregular) format("svg");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-sm-2,
.col-sm-3,
.col-sm-5,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-sm-7,
.col-md-10,
.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-sm-2,
  .col-sm-3,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }
}

@media (min-width: 992px) {
  .col-md-6,
  .col-md-10 {
    float: left;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
}

@media (min-width: 1200px) {
  .col-lg-6 {
    float: left;
  }

  .col-lg-6 {
    width: 50%;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-success:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-success:active:hover,
.btn-success:active:focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

.btn-success:active {
  background-image: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eee;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar>.container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav>li {
    float: left;
  }

  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #333;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.nav:after,
.navbar:after,
.navbar-header:after {
  clear: both;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

@-ms-viewport {
  width: device-width;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@font-face {
  font-family: 'icons-font';
  src: url(../fonts/fontello/fontello.eot);
  src: url(../fonts/fontello/fontello.eot?25661924#iefix) format("embedded-opentype"), 
  url(../fonts/fontello/fontello.woff?25661924) format("woff"), 
  url(../fonts/fontello/fontello.ttf?25661924) format("truetype"), 
  url(../fonts/fontello/fontello.svg?25661924#icons-font) format("svg");
  font-weight: normal;
  font-style: normal;
}

.fontello {
  font-family: "icons-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: '\e800';
}

.icon-phone:before {
  content: '\e801';
}

.icon-facebook:before {
  content: '\e802';
}

.icon-linkedin:before {
  content: '\e803';
}

.icon-twitter:before {
  content: '\e804';
}

.icon-gplus:before {
  content: '\e805';
}

.icon-lifebuoy:before {
  content: '\e806';
}

.icon-search:before {
  content: '\e80d';
}

.icon-bullet-point:before {
  content: '\e863';
}


.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  color: white;
  border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
  outline: 0 !important;
  color: white;
}

.btn-lg {
  padding: 12px 40px;
  font-size: 16px;
}

.btn-primary-outline {
  background-color: transparent;
  border: 1px solid #fa643c;
  color: #fa643c;
}

.btn-primary-outline:hover {
  background-color: #ea532b;
  color: white;
}

.btn-primary-outline:hover:focus {
  color: white;
}

.btn-primary-outline:focus {
  color: #ea532b;
}

.btn-success {
  background-color: #5ac2c5;
  border: 1px solid #5ac2c5;
}

.btn-success:link {
  color: white;
}

.btn-success:hover {
  background-color: #4cb1b4;
  border-color: #4cb1b4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-success:focus,
.btn-success:active {
  background-color: #5ac2c5;
  border-color: #5ac2c5;
}

.btn-white-outline {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.btn-white-outline:hover {
  background-color: white;
  color: #373F48;
}

body {
  background-color: #F2F4F6;
}

.primary-violet-BG {
  background-color: #966683;
}

.grey-BG {
  background-color: #fbf6ea;
}
.yellow-BG {
  background-color: #fac846;
}
.inline-block {
  display: inline-block;
}

.table {
  display: table;
}

.tc {
  display: table-cell;
}

.tr {
  display: table-row;
}

.valign-middle {
  vertical-align: middle;
}

.valign-bottom {
  vertical-align: bottom;
}

.pos-r {
  position: relative !important;
}

.legal-tile-container {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  width: 120px;
  height: 120px;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.legal-tile-container:hover {
  background-color: #e6eaee;
}

.legal-tile-container .legal-tile {
  width: 100%;
  height: 100%;
  display: table;
}

.legal-tile-container .legal-tile i {
  font-size: 35px;
  color: #009DDC;
}

ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.list.bullet .icon-bullet-point {
  margin-left: -20px;
}

ul.list.blue li:before {
  color: #009DDC;
  border-color: #a9e6ff;
}

.navbar-default {
  background-color: white;
  margin-bottom: 0px;
  border: 0;
  border-bottom: 1px solid #D8DFE6;
}

.navbar-default .navbar-nav>li>a {
  color: #545E6B;
  font-weight: 600;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-size: 15px;
  padding-top: 23px;
  padding-bottom: 21px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #5ac2c5;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #5ac2c5;
}

.navbar-transparent {
  background-color: transparent;
  border-bottom-color: transparent;
  color: #fff;
}

.navbar-transparent .navbar-nav>li>a {
  color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-wide .container {
    width: auto;
  }
}

@media (min-width: 992px) {
  .navbar-wide .container {
    width: auto;
    max-width: 1300px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

@media (max-width: 767px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-nav {
    float: none;
    margin: 7.5px -15px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-header {
    min-height: 65px;
  }

  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    margin-top: 18px;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }

  .navbar-default .navbar-toggle .icon-bar,
  .navbar-default .navbar-toggle:focus .icon-bar,
  .navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #A4ADB8;
  }
}

.pad-r-0 {
  padding-right: 0px !important;
}

.marg-t-0 {
  margin-top: 0px !important;
}

.marg-b-0 {
  margin-bottom: 0px !important;
}

.marg-t-5 {
  margin-top: 5px !important;
}

.marg-r-5 {
  margin-right: 5px !important;
}

.marg-b-10 {
  margin-bottom: 10px !important;
}

.marg-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.pad-l-20 {
  padding-left: 20px !important;
}

.pad-x-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.marg-t-20 {
  margin-top: 20px !important;
}

.marg-r-20 {
  margin-right: 20px !important;
}

.marg-b-20 {
  margin-bottom: 20px !important;
}

.marg-l-20 {
  margin-left: 20px !important;
}

.marg-x-20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.pad-t-35 {
  padding-top: 35px !important;
}

.pad-y-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.marg-t-35 {
  margin-top: 35px !important;
}

.marg-b-35 {
  margin-bottom: 35px !important;
}

.marg-x-35 {
  margin-right: 35px !important;
  margin-left: 35px !important;
}

.marg-y-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.pad-r-50 {
  padding-right: 50px !important;
}

.pad-y-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.marg-b-75 {
  margin-bottom: 75px !important;
}

.pad-y-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

.marg-b-100 {
  margin-bottom: 100px !important;
}

.rating {
  font-size: 0;
  line-height: 1em;
}

.rating>i {
  margin: 0 1px;
  color: #A4ADB8;
  font-size: 20px;
  vertical-align: middle;
}

.rating>i.rating-full:before {
  content: "\e841";
  color: #E3B900;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: 'Roboto', sans-serif;
  color: #545E6B;
  font-weight: 400;
}

body {
  font-size: 16px;
  background-color: white;
  color: #545E6B;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 11px;
}

p {
  font-size: 16px;
}

.fs-60 {
  font-size: 60px;
}

.fs-50 {
  font-size: 50px;
}

.fs-30 {
  font-size: 30px;
}

.fs-24 {
  font-size: 24px;
}

.fs-20 {
  font-size: 20px;
}

.fs-16 {
  font-size: 16px;
}

.fs-13 {
  font-size: 13px;
}

.fs-11 {
  font-size: 11px;
}

.lh-20 {
  line-height: 20px;
}

a {
  color: #009DDC;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #43c9ff;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.text-bold {
  font-weight: 600;
}

.text-medium {
  font-weight: 500;
}

.text-light {
  font-weight: 300;
}

.text-italic {
  font-style: italic;
}

.text-white {
  color: white;
}

.text-orange {
  color: #fa643c;
}

.text-green {
  color: #5ac2c5;
}

.text-grey-45 {
  color: #75808F;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-component {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}



html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
@media screen\0 {
  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

#header,
#content {
  -ms-flex: none;
  flex: none;
}

input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
