.sprite-logos {
  background-image: url(../img/logos.png) !important;
}
.sprite-cases {
  background-image: url(../img/cases.png) !important;
} 


.hero2 {
    @extend #hero;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: -65px !important;
    background-image: url(../img/2.jpg) !important;
	position: relative;
	
 
    .container-fluid {
		padding-bottom: 0;
    }
    .hero2-left {
    	transform: translate(0,100%);
    	@media all and (max-width: 767px) {
			transform: none;
			padding: 120px 0 80px;
    	}
    }
    .text-left {
    	box-shadow: 0 0 40px 0 rgba(#397E80,0.8);
    	padding-top: 80px;
    	background-color: rgba(#397E80,0.8);
    	.checkbox-label {
    		color: #fff;
    	}
    }
}

.form2 {
	padding: 0 10%;
	
	input,
	textarea {
		width: 100%;
	}
	
	label {
		color: #fff;
		margin-bottom: 0.5em;
	}

	input:not(.btn), 
	textarea:not(.btn) {
		margin-bottom: 1em;
		color: #545E6B;
		display: inline-block;
		padding: 6px 12px;
		text-align: left;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	
	.fileinput-button {
		color: #545E6B;
	}

	.form-group {
		margin-bottom: 5px;
	}
}

#testimonial {
	background-image: url(../img/business_enquiry_bg.jpg) !important;
	background-position: center top;
}

#stats {
	h3 { 
		margin-top: 0;
	}
}

section.section-loved-by {
	.loved-by-tile {
		width: 250px !important;
		svg {
			width: 3em;
			height: 3em;
			fill: #a80064;
		}
	}
}



///


.text-center-md {
	@media all and (max-width: 991px) {
		text-align: center;
	}
}

.list-style-none {
	list-style: none;
}

.white-BG {
  background-color: #fff;
}

.w100-md {
	max-width: 100%;
	@media all and (max-width: 991px) {
		width: 100%;
	}
} 
.section-default {
	//background-color: #fff;
	ul {
		text-align: left;
		padding-left: 0;
	}
	@media all and (max-width: 991px) {
		img.w100-md {
			margin: 35px 0;
		}
	}
}


.marg-0-auto {
	margin: 0 auto !important;
}


