
#logo-svg .part1 {
  fill: #545E6B;
}

section#attorneys {
  .section-attorneys-info {
    margin-left: 140px;
  }
  .section-attorneys-attorney {
    margin-bottom: 25px;
  }
} 

@media (max-width: 767px) {
  section#attorneys .section-attorneys-attorney {
    text-align: left;
    max-width: 400px;
    margin: 10px auto;
  }
}
.section-loved-by {
  .loved-by-tile {
    display: inline-block;
    text-align: center;
    width: 190px;
    margin-top: 20px;
  }
  .loved-by-tile h4 {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #75808F;
    margin-top: 15px;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
}

@media (max-width: 767px) {
  .section-loved-by h3 {
    text-transform: none;
  }
 
  .section-loved-by .loved-by-tile {
    width: 40%;
    margin-bottom: 20px;
  }
}


.uc-jumbotron {
  padding-top: 50px;
  padding-bottom: 50px;
  color: inherit;
}

.uc-jumbotron .container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .uc-jumbotron {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}



/* jquery UI */


.static_pages.home {
  
  h3 {
    line-height: 1.2em;
  }

  #hero {
    position: relative;
    min-height: 100vh;
    height: 100vh;
    background-image: url(../img/city-view.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    margin-top: -65px;
    padding-top: 115px;
    padding-bottom: 120px;
    margin-bottom: 0;
  }

  #hero h2 {
    line-height: 1.4em;
  }

  #hero h2 a {
    color: #f3e6a6;
    text-decoration: underline; 
  }

  #hero h2 a:hover {
    text-decoration: none;
  }


  #brands {
    color: rgba(255,255,255,0.5);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }

  #popular-legal-areas {
    font-size: 0;
  }

  #popular-legal-areas .legal-tile-container {
    cursor: default;
    overflow: hidden;
    position: relative;
    margin: 1px;
    width: 200px;
    height: 110px;
    background: #ffffff;
  }

  #popular-legal-areas .legal-tile-container .tr {
    height: auto;
  }

  #popular-legal-areas .legal-tile-container h4 {
    font-size: 16px;
    margin: 0;
    line-height: 1.4em;
    opacity: 1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  #popular-legal-areas .legal-tile-container:hover .legal-tile-title {
    opacity: 0;
  }

  #popular-legal-areas .legal-tile-container:hover .legal-tile-overlay {
    top: 0;
    bottom: 0;
    opacity: 1;
  }

  #popular-legal-areas .legal-tile-container:hover .legal-tile-overlay h4 {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }

  #popular-legal-areas .legal-tile-overlay {
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
    width: 200px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  #popular-legal-areas .legal-tile-overlay .btn {
    padding: 8px 0;
    width: 100%;
  }

  #popular-legal-areas .legal-tile-overlay h4 {
    font-size: 14px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translateY(80%);
    -moz-transform: translateY(80%);
    transform: translateY(80%);
  }

  #popular-legal-areas .legal-tile-overlay .tr:first-of-type {
    height: auto;
  }

  #popular-legal-areas .legal-tile-overlay .tr:last-of-type {
    height: 72px;
  }

  #testimonial {
    background-repeat: no-repeat;
    background-size: cover;
  }

  #compare h3 span {
    color: #373F48;
  }

  #compare ul {
    padding-left: 0px;
  }

  #compare ul li {
    list-style: none;
  }
  #manage ul {
    padding-left: 0px;
  }

  #manage ul li {
    list-style: none;
  }
  #manage #floating-laptop-img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 991px) {
  .static_pages.home {
    #compare {
      text-align: center;
    }
    #compare #compare-img {
      margin: 0 auto;
    }
  }
}

@media (min-width: 768px) {
  .static_pages.home #compare #compare-img {
    max-width: 530px;
  }
}

@media (min-width: 992px) {
  .static_pages.home #compare .row {
    display: table;
  }

  .static_pages.home #compare .col-lg-6 {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .static_pages.home #compare #compare-img {
    max-width: 400px;
  }
}

@media (max-width: 991px) {
  .static_pages.home #hero {
    background-position: 34%;
  }

  .static_pages.home #testimonial .parallax-window {
    background-image: url(../img/parallax.jpg);
    background-size: cover;
    background-position: center top;
  }
}

@media (max-width: 767px) {
  .static_pages.home {

    .btn-success.btn-lg {
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px;
      white-space: normal;
      max-width: 100%;
    }

    #hero h1 {
      font-size: 35px;
    }

    #hero h2 {
      font-size: 16px;
    }

    #popular-legal-areas h3 {
      font-size: 35px;
      margin-bottom: 50px;
    }

    #popular-legal-areas .legal-tile-container {
      height: 120px;
      width: 120px;
    }

    #popular-legal-areas .legal-tile-container .tr {
      height: 60px;
    }

    #popular-legal-areas .legal-tile-container h4 {
      font-size: 11px;
      opacity: 1 !important;
    }

    #popular-legal-areas .legal-tile-overlay {
      top: 0;
      bottom: 0;
      opacity: 1;
      background-color: transparent;
    }

    #popular-legal-areas .legal-tile-overlay h4 {
      display: none;
    }

    #popular-legal-areas .legal-tile-overlay a {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-indent: -9999px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      background-color: transparent;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    #testimonial p {
      font-size: 24px;
    }

    #attorneys {
      text-align: center;
    }

    #attorneys .learn-more {
      margin-bottom: 20px;
    }

    #compare h3 {
      font-size: 35px;
    }

    #manage {
      text-align: center;
      padding-left: 20px;
      padding-right: 20px;
    }

    #manage h3 {
      margin-top: 0;
      font-size: 35px;
    }

    #manage ul {
      text-align: left;
    }

    ul {
      font-size: 16px;
    }
  }
}

@media (max-width: 320px) {
  .static_pages.home .btn-success.btn-lg {
    font-size: 16px;
  }
}



