#footer {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  background-color: #fa643c;
  position: relative;
  min-height: 300px;
}

.footer p {
  margin-bottom: 20px;
  font-weight: 500;
}

.footer .questions {
  width: 85%;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #e0512b;
}

.footer .questions li,
.footer .questions a,
.footer .questions i {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: white;
}

.footer .questions a:hover {
  color: white;
}

.footer ul {
  list-style-type: none;
  padding: 0px;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li,
.footer ul li>a,
.footer ul li>i {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #ffffff;
  font-size: 14px;
}

.footer ul a:hover {
  color: #dde1e5;
}

.footer .icon-social-media {
  margin-top: 10px;
}

.footer .icon-social-media li {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: block;
  float: left;
  margin: 0px 10px 0 0;
  background-color: #82054f;
  width: 35px;
  height: 35px;
}

.footer .icon-social-media li:hover {
  background-color: #68043f;
}

.footer .icon-social-media li a {
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
}

.footer .icon-social-media li i {
  font-size: 18px;
  color: white;
  margin: 9px 0 0 1px;
}

.footer .icon-social-media li i.icon-facebook {
  margin-left: 0;
}

.footer .icon-social-media li i.icon-linkedin {
  margin-top: 8px;
}

.footer .icon-social-media li i.icon-gplus {
  margin: 10px 0 0 3px;
}

.subfooter {
  padding: 20px 0px;
  background-color: #9a3175;
}

.subfooter h5:first-child {
  font-weight: 500;
}

.subfooter .logo {
  left: 2px;
  color: #fff;
}

.subfooter h6 {
  color: #9BADB3;
}

.norton-logo {
  text-align: right;
}

.norton-logo .norton-img {
  background-repeat: no-repeat;
  background-image: url('../img/norton.png');
  width: 116px;
  height: 64px;
  display: inline-block;
  background-position: 0 0;
  overflow: hidden;
  text-indent: 9999px;
  background-size: 116px;
}

@media (max-width: 767px) {
  .footer p,
  .footer li {
    text-align: center;
  }

  .footer p {
    margin-bottom: 5px;
  }

  .footer .questions {
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .footer ul {
    margin-bottom: 35px;
  }

  .subfooter .logo-link,
  .subfooter .norton-logo {
    text-align: center;
  }

  .subfooter .logo {
    left: -3px;
  }
}

@media (min-width: 768px) {
  .footer .col-sm-2,
  .footer .col-sm-3 {
    padding-right: 0;
    padding-left: 0;
  }
}
