#header {
  position: relative;
  z-index: 102;
  height: 65px;
}

#header .navbar {
  z-index: 1030;
  -webkit-transition: border 0.5s ease-in-out, background 0.5s ease-in-out;
  -moz-transition: border 0.5s ease-in-out, background 0.5s ease-in-out;
  -ms-transition: border 0.5s ease-in-out, background 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out, background 0.5s ease-in-out;
  transition: border 0.5s ease-in-out, background 0.5s ease-in-out;
}

#header .navbar-header {
  position: relative;
}

#header .navbar-brand {
  height: 60px;
  width: 270px;
  padding: 5px 0 0 15px;
}

#header .navbar-brand svg {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  #header .navbar-brand {
    width: 230px;
  }
}

#header .navbar-right {
  margin-right: 0;
}

#header .navbar-transparent #logo-svg .part1 {
  fill: #fff;
}

#header .navbar-transparent .icon-bar {
  background-color: #fff;
}

@media (max-width: 991px) {
  #header .navbar-nav>li>a {
    letter-spacing: 0px;
  }
}

@media (max-width: 1199px) {
  #header .navbar-nav>li>a {
    font-size: 13px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
