body.mobile-nav-open {
    overflow: hidden
}

body.mobile-nav-open #mobile-nav {
    display: block
}

body.mobile-nav-open #nav.navbar-fixed-top {
    position: absolute
}

body.mobile-nav-open #content {
    box-shadow: 0 0 12px 4px #2a3037
}


#mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 266px;
    display: none;
    background-color: #373F48;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

#mobile-nav .h-nav-btn {
    display: none
}

#mobile-nav ul {
    margin: 0;
    padding: 0
}

#mobile-nav ul li {
    border-bottom: 1px solid #545E6B
}

#mobile-nav ul .h-nav-user span {
    display: table-cell;
    vertical-align: middle
}

#mobile-nav ul .h-user-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px
}

#mobile-nav ul .h-nav-group {
    color: #A4ADB8;
    padding: 12px 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px
}

#mobile-nav ul li>a {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    padding: 12px 18px;
    color: #D8DFE6
}

#mobile-nav ul li.active>a,
#mobile-nav ul li>a:hover,
#mobile-nav ul li>a:active {
    background-color: #545E6B;
    color: #fff
}

@media (max-width: 767px) {
    #content {
        width: 100%;
        min-height: 100vh;
        position: relative;
        z-index: 2;
        background: #fff
    }
}

