html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
footer, header, nav, section {
  display: block;
}
a { background-color: transparent; }
a:active, a:hover {
  outline: 0;
}
strong {
  font-weight: bold;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button, input {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}