body.searching #search_link_arrow {
    bottom: -1px
}

body.searching #search_bar {
    visibility: visible;
    top: 65px
}


body.navbar-fixed #search_bar {
    position: fixed
}


#search_form {
    margin-top: 16px;
    display: block
}

#search_form #search_icon {
    display: inline-block;
    margin: 5px 0 0 0;
    vertical-align: middle;
    width: 30px
}

#search_form #search_button {
    width: 126px
}

#search_form #search_button .fontello {
    color: #fff;
    font-size: 17px;
    margin: 0
}

#search_form #search_input_wrap {
    margin-right: 126px;
    margin-left: 30px
}

#search_form #search_input {
    width: 100%;
    background: none;
    border: none;
    vertical-align: middle;
    padding: 10px 8px 10px 14px;
    outline: 0
}

@media (max-width: 767px) {
    #search_form #search_button {
        width: 33px;
        padding: 8px
    }
    #search_form #search_input_wrap {
        margin-right: 33px;
        margin-left: 0
    }
    #search_form #search_input {
        padding-left: 0px
    }
}

#search_bar {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 99;
    background-color: #545E6B;
    visibility: hidden;
    top: -5px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out
}

#search_bar .icon-search {
    font-size: 30px;
    color: #D8DFE6;
    display: inline-block
}

#search_form input {
    color: #D8DFE6
}

#search_form input::-webkit-input-placeholder,
#search_form input::-moz-input-placeholder,
#search_form input::-ms-input-placeholder {
    color: #A4ADB8
}

#search_button {
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    background-color: #5ac2c5;
    border-color:#5ac2c5;
    padding: 8px 34px;
    letter-spacing: 1px
}

#search_button:hover {
    border-color: #4cb1b4;
    background-color: #4cb1b4
}

#search_link {
    height: 65px;
    margin-bottom: -1px;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden
}

#search_link a,
#search_link a:focus,
#search_link a:active {
    border: 0;
    outline: 0
}

#search_link_arrow {
    position: absolute;
    left: 44px;
    bottom: -16px;
    content: " ";
    height: 0;
    width: 0;
    border: solid transparent;
    border-bottom-color: #545E6B;
    border-width: 12px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out
}
@media (max-width: 1199px) {
    #search_link_arrow {
        left: 30px
    }
}

