.sprite-clients {
  background-image: url(../img/clients.png);
  display: inline-block;
}

.sprite-pzu {
  width: 60px;
  height: 60px;
  background-position: 0 0;
}

.sprite-pkp {
  width: 75px;
  height: 60px;
  background-position: -61px 0;
}

.sprite-appetiq {
  width: 110px;
  height: 60px;
  background-position: -145px 0;
}

.sprite-szyjemy {
  width: 85px;
  height: 60px;
  background-position: -255px 0;
}

.sprite-logos {
  background-image: url(../img/logos.png);
  display: inline-block;
}

.sprite-urzad-skarbowy {
  width: 150px;
  height: 55px;
  background-position: 0 0;
}

.sprite-xelion {
  width: 103px;
  height: 55px;
  background-position: -199px 0;
}

.sprite-pierog {
  width: 115px;
  height: 55px;
  background-position: -338px 0;
}

.sprite-plagiat {
  width: 120px;
  height: 55px;
  background-position: -494px 0;
}

.sprite-cases {
  background-image: url(../img/cases.png);
  display: inline-block;
}

.sprite-case-1 {
  width: 81px;
  height: 56px;
  background-position: 0 0;
}

.sprite-case-2 {
  width: 75px;
  height: 56px;
  background-position: -81px 0;
}

.sprite-case-3 {
  width: 69px;
  height: 56px;
  background-position: -156px 0;
}

.sprite-case-4 {
  width: 64px;
  height: 56px;
  background-position: -225px 0;
}

.sprite-case-5 {
  width: 63px;
  height: 56px;
  background-position: -289px 0;
}

.sprite-case-6 {
  width: 65px;
  height: 56px;
  background-position: -352px 0;
}

.sprite-case-7 {
  width: 52px;
  height: 56px;
  background-position: -417px 0;
}

.sprite-case-8 {
  width: 59px;
  height: 56px;
  background-position: -469px 0;
}

.sprite-blueicons {
  background-image: url(../img/blueicons.png);
  display: inline-block;
}

.sprite-icon-business {
  width: 58px;
  height: 56px;
  background-position: 0 0;
}

.sprite-icon-exec {
  width: 40px;
  height: 56px;
  background-position: -58px 0;
}

.sprite-icon-legal-dept {
  width: 57px;
  height: 56px;
  background-position: -98px 0;
}

.sprite-icon-hr {
  width: 53px;
  height: 56px;
  background-position: -155px 0;
}

.sprite-icon-sales {
  width: 63px;
  height: 56px;
  background-position: -208px 0;
}

.sprite-image-person {
  background-size: contain;
  background-position: center center;
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.sprite-image-person-small {
  width: 100px;
  height: 100px;
}
